* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    width: 700px;
    height: 400px;
    background-color: black;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.active {
    display: block;
}

button {
    position: absolute;
    border: none;
    background-color: transparent;
    color: white;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 3rem;
     
}

.next {
    right: 0;
}

.thumbnails {
    width: 700px;
    height: 100px;
}

.thumbnail {
    width: 100px;
    height: 100px;
    position: relative;
}

.thumbnails img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: right;
    display: block;
}
 


.thumbnail::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    opacity: .4;
}

.thumbnail.active::after {
    border: 1px solid white;
    background-color: transparent;
}

.titlebox {
    z-index: 1000;
    position:absolute;
    bottom:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    color:rgb(255, 255, 255);
    font-weight:bold;
    font-size:3rem;
    display:flex;
    align-items: center;
    justify-content: center;

}